:root{
    --oscuro: #000000;
    --blanco: #ffffff;
    --morado: #9932CC;
}

html{
    color: red ;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: var(--oscuro);
}

header{
    text-align: right;
    padding: 1rem 1rem;
}


/*-------------------------inputs-----------------*/
.sing-in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .sing-in input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: .5rem;
  }
  

  /*-----------------------Todos los Botones----------*/
.boton {
    background-color: rgb(255, 0, 0);
    color: var(--blanco); /* EL PADDING ES PARA PONER COMO UN MARGEN O SEPARACION EN TODAS LAS DIRECCIOES*/ 
    font-size: 1.3rem;
    border-radius: 5px;
    padding: 5px;
}
.boton:hover{
    background-color: rgba(255, 0, 0, 0.462);
}

.primerosbotones{
    display: grid;
    grid-template-columns: 50% 48%;
    column-gap: .5rem; 
    justify-content: center;
}

.botonesGandF{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: .5rem;
    row-gap: .5rem;
    
}

    
.hide{
    display: none;
}

.ocultarboton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}






/* display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem; */